<div class="container">
  <div class="todo mx-auto">
    <h1>Todo</h1>

    <form class="todo-form" #todoForm="ngForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <input name="title" required type="text" [(ngModel)]="todo.title" class="form-control" />
        <div class="d-grid mt-2">
          <button class="btn btn-primary" [disabled]="!todoForm.valid">Add Todo</button>
        </div>
      </div>
    </form>

    <div class="mt-4">
      <div class="card card-body" *ngIf="todos.length; else noUser">
        <ul class="todo-list list-group" *ngFor="let todo of todos">
          <li class="todo-list-item list-group-item mb-2">
            {{ todo?.title }} <button class="btn text-danger app-icon" (click)="onDelete(todo.id)">close</button>
          </li>
        </ul>
      </div>

      <ng-template #noUser>No users</ng-template>
    </div>
  </div>
</div>
